<style>
    footer {
        background-color: #343a40;
        height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100vw;
        bottom: 0;
    }

    .footer-links {
        margin: 30px 10px;
    }

    .links {
        text-decoration: none;
        color: gray;
        margin: 0 30px;
    }

    .links:hover {
        text-decoration: none;
        color: white;
    }

    footer>p {
        color: gray;
    }
</style>
<footer>
    <div class="footer-links">
        <a class="links" href="mailto:jitendrasingh28321155@gmail.com" target="_blank">Mail</a>
        <a class="links" href="https://github.com/Jitendra2584" target="_blank" rel="noopener noreferrer">Github</a>
        <a class="links" href="https://www.linkedin.com/in/jitendra-singh-4173b0244/" target="_blank"
            rel="noopener noreferrer">LinkedIn</a>
    </div>
    <!-- <p class="copyright">© Copyright 2023 - File Manager</p> -->
</footer>