{% load static%}
<!DOCTYPE html>
<html>
<head>
    <title>View Question</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>        body {
        background-color: #DCEFFB;
      }</style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    {% include 'navbar.html' %}
    <h1>{{ question.title }}</h1>
    
    <h2>Answers:</h2>
    <ul>
        {% for answer in answers %}
        <li>{{ answer.user.username }} - {{ answer.content }} 
            <button class="like-btn" data-answer-id="{{ answer.id }}" >Like</button>
            <span class="like-count">{{ answer.like_set.count }}</span>
        {% endfor %}
    </ul>
    <h3>Post Your Answer:</h3>
    <form method="post" action="{% url 'view_question' question.id %}">
        {% csrf_token %}
        {{form.content}}
        <button type="Submit">Answer</button>
    </form>
    {% include 'footer.html' %}
    <script src="{% static 'under.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>
